dist: xenial
language: python
sudo: required
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libxdo-dev
      - libinput-tools
      - g++-7
env:
  CC: g++-7
install:
  - pip install .
script:
  - python setup.py test
