[Desktop Entry]
Type=Application
Name=Comfortable Swipe
Comment=Comfortable 3/4-finger touchpad gestures
Exec=comfortable-swipe start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
